body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.form-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3) ;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 8px;
    padding-top: 15px;
}


form > ::placeholder {
    background-color: whitesmoke;
    color: black;  
}

input {
    border: 2px solid black;
    border-radius: 3px;
    width: 60%;
    height: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.submit-button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(224, 222, 219);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meme-result{
    height:100%;
    width:100%;
   
}

.meme{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    text-align: center;
    /* why is this not cnetering the text inside of the .meme container */
}

/* .meme{
    position: relative;
} */

.img-result {
   width: 100%;
   height: 100%;
   border: 3px solid black;
   /* position: relative; */
}

.txt-first {
position: absolute; top: 10px;
font-size: 25px;
color: wheat;
text-shadow: 5px 5px 8px black;
}

.txt-last {
position: absolute; bottom: 10px;
font-size: 25px;
color: lightsalmon;
text-shadow: 5px 5px 8px black;
}